<script lang="ts">
    import '../app.pcss';
    import Header from "$lib/components/Header.svelte";
    import {page} from "$app/stores";
    import {goto} from "$app/navigation";
    import {fade} from 'svelte/transition';
    import {isPermissionGranted, requestPermission} from "@tauri-apps/api/notification";
    import {onMount} from "svelte";
    import settingsStore from "$lib/stores/settings.store";

    export let data;

    onMount(async () => {
        const permissionGranted = await isPermissionGranted();

        if(!permissionGranted)
            await requestPermission();
    });
</script>

<div class="bg-primary-foreground w-screen h-screen overflow-clip text-foreground select-none" class:dark={$settingsStore.dark} class:cursor-ds={$settingsStore.heisenlamb}>
    <Header showHome={$page.route.id !== '/'} on:home={() => goto('/')} />

    {#key data.pathname}
        <div class="h-full overflow-auto divide-y" transition:fade={{duration: 150}}>
            <slot />
            <hr />
        </div>
    {/key}
</div>
