<script lang="ts">
    import {Button} from "$lib/components/ui/button";
    import {Badge} from "$lib/components/ui/badge/index.js";
    import {goto} from "$app/navigation";
    import tunnelsStore from "$lib/stores/tunnels.store";
    import LineMdChevronSmallRight from '~icons/line-md/chevron-small-right';
</script>

<Button variant="ghost" class="p-10 w-full flex items-center justify-between rounded-none" on:click={() => goto("tunnels")}>
    <span class="text-2xl font-bold">Tunnels</span>
    <span class="flex gap-2 justify-center items-center">
        {#if $tunnelsStore.size > 0}
            <Badge variant="destructive">{$tunnelsStore.size}</Badge>
        {/if}
        <LineMdChevronSmallRight class="text-4xl"/>
    </span>
</Button>
<Button variant="ghost" class="p-10 w-full flex items-center justify-between rounded-none" on:click={() => goto("links")}>
    <span class="text-2xl font-bold">Links</span>
    <LineMdChevronSmallRight class="text-4xl"/>
</Button>
