<script lang="ts">
    import {getTunnels} from "$lib/tauri.js";
    import Tunnel from "$lib/components/Tunnel.svelte";
</script>

{#await getTunnels()}
    <p>Loading...</p>
{:then tunnels}
    {#each tunnels as tunnel}
        <Tunnel {tunnel} />
    {/each}
{:catch error}
    <p>Error: {JSON.parse(error)}</p>
{/await}