<script lang="ts">
    import {getLinks} from "$lib/tauri.js";
    import Link from "$lib/components/Link.svelte";
    import {page} from "$app/stores";
</script>

{#await getLinks()}
    <p>Loading...</p>
{:then links}
    {#each links as link}
        <Link rootPath="{$page.data.pathname}" {link} />
    {/each}
{:catch error}
    <p>Error: {JSON.parse(error)}</p>
{/await}