<script lang="ts">
    import {page} from "$app/stores";
    import type {Link as LinkType} from "$lib/models/links.interface";
    import Link from "$lib/components/Link.svelte";

    let links = ($page.state as Record<string, unknown>)["links"] as LinkType[] | undefined;

</script>

{#if !!links}
    {#each links as link}
        <Link rootPath="{$page.data.pathname}" {link} />
    {/each}
{/if}
