<script lang="ts">
    import {Card, CardContent} from "$lib/components/ui/card";
    import {Button} from "$lib/components/ui/button";
    import {createEventDispatcher} from "svelte";
    import LineMdChevronSmallLeft from '~icons/line-md/chevron-small-left';
    import LineMdHomeTwotone from '~icons/line-md/home-twotone';
    import WindowButtons from "$lib/components/WindowButtons.svelte";
    import {CardHeader} from "$lib/components/ui/card/index.js";

    export var showHome: boolean = false;

    const dispatcher = createEventDispatcher();
</script>

<Card class="rounded-none">
    <CardHeader class="p-0 m-0">
        <div class="w-full top-0 left-0">
            <WindowButtons />
        </div>
    </CardHeader>
    <CardContent class="p-4 pt-0 flex flex-row items-center justify-between h-full relative">
        <div class="absolute flex flex-row gap-2 items-center top-[-1.1rem]">
            <svg xmlns="http://www.w3.org/2000/svg" height="52" fill="none" width="52" viewBox="0 0 52 52">
                <path fill="#44D9E6" d="M42.5194 10.2224H1.81742C1.18281 10.2224 0.663574 9.69819 0.663574 9.05747V2.15518C0.663574 1.51446 1.18281 0.990234 1.81742 0.990234H42.5194C43.154 0.990234 43.6732 1.51446 43.6732 2.15518V9.05747C43.6732 9.69819 43.154 10.2224 42.5194 10.2224Z"/>
                <path d="M42.5195 23.5027H8.04838C7.41376 23.5027 6.89453 22.9785 6.89453 22.3377V15.4355C6.89453 14.7947 7.41376 14.2705 8.04838 14.2705H42.5195C43.1542 14.2705 43.6734 14.7947 43.6734 15.4355V22.3377C43.6734 22.9785 43.1542 23.5027 42.5195 23.5027Z" fill="#44D9E6"/>
                <path d="M41.9711 36.7832H17.6538C17.0192 36.7832 16.5 36.259 16.5 35.6183V28.716C16.5 28.0753 17.0192 27.551 17.6538 27.551H41.9423C42.5769 27.551 43.0961 28.0753 43.0961 28.716V35.6183C43.0961 36.259 42.5769 36.7832 41.9711 36.7832Z" fill="#44D9E6"/>
                <path d="M42.5189 50.0635H22.7593C22.1247 50.0635 21.6055 49.5393 21.6055 48.8985V41.9962C21.6055 41.3555 22.1247 40.8313 22.7593 40.8313H42.5189C43.1535 40.8313 43.6728 41.3555 43.6728 41.9962V48.8985C43.6728 49.5393 43.1535 50.0635 42.5189 50.0635Z" fill="#44D9E6"/>
            </svg>
            <h1 class="text-4xl font-extrabold">Utility Hub</h1>
        </div>
        <div>
            <Button variant="strive" disabled class="text-2xl invisible"><LineMdHomeTwotone /></Button>
        </div>
        {#if showHome}
            <span class="flex items-center justify-center gap-2">
                <Button variant="strive" class="text-2xl" on:click={() => history.back()}><LineMdChevronSmallLeft /></Button>
                <Button variant="strive" class="text-2xl" on:click={() => dispatcher("home")}><LineMdHomeTwotone /></Button>
            </span>
        {/if}
    </CardContent>
</Card>