<script lang="ts">
    import type {Link} from "$lib/models/links.interface";
    import {Button} from "$lib/components/ui/button";
    import LineMdExternalLink from '~icons/line-md/external-link';
    import LineMdClipboard from '~icons/line-md/clipboard';
    import {open} from '@tauri-apps/api/shell';
    import {writeText} from '@tauri-apps/api/clipboard';
    import {sendNotification} from "@tauri-apps/api/notification";
    import LineMdChevronSmallRight from '~icons/line-md/chevron-small-right';
    import {goto} from "$app/navigation";
    import {page} from "$app/stores";
    import type {ButtonEventHandler} from "bits-ui";

    export let rootPath: string;
    export let link: Link;

    let buttonWrapper: HTMLElement;

    const copyToClipboard = async (url?: string) => {
        if(!url)
            return;

        await writeText(url);
        sendNotification({ title: 'Utility Hub', body: 'Copied to clipboard' });
    }

    const createState = () => {
        return {
            ...$page.state,
            links: link.links,
        }
    }

    const clicked = async (event: ButtonEventHandler<MouseEvent>) => {
        if(buttonWrapper.contains(event.target as Node | null))
            return;

        return open(link.url ?? "");
    }
</script>

{#if link.links?.length}
    <Button variant="ghost" class="rounded-none p-10 w-full flex items-center justify-between" on:click={() => goto(`${rootPath}/${link.name}`, { state: createState() })}>
        <p class="text-2xl font-bold">{link.name}</p>
        <LineMdChevronSmallRight class="text-4xl"/>
    </Button>
{:else if link.url}
    <Button variant="ghost" class="rounded-none w-full p-10 items-center justify-between" on:click={clicked}>
        <p class="text-2xl font-bold">{link.name}</p>
        <div class="flex gap-2 justify-center items-center  px-3">
            <span bind:this={buttonWrapper}>
                <Button variant="strive" title="Copy link" on:click={() => copyToClipboard(link.url)}>
                    <LineMdClipboard />
                </Button>
            </span>
            <LineMdExternalLink />
        </div>
    </Button>
{/if}
