<script lang="ts">
    import MdiSettingsOutline from '~icons/mdi/settings-outline';
    import {Button, buttonVariants} from "$lib/components/ui/button/index.js";
    import {
        Dialog,
        DialogContent,
        DialogFooter,
        DialogHeader,
        DialogTitle,
        DialogTrigger
    } from "$lib/components/ui/dialog/index.js";
    import {Label} from "$lib/components/ui/label";
    import {Checkbox} from "$lib/components/ui/checkbox";
    import settingsStore from "$lib/stores/settings.store";

    let heisenlamb = false;
    let isDark = false;
    let dialogOpen = false;

    settingsStore.subscribe(s => {
        heisenlamb = s.heisenlamb;
        isDark = s.dark;
    })

    const updateSettings = async () => {
        await settingsStore.updateSettings({ dark: isDark, heisenlamb });
        dialogOpen = false;
    };
</script>

<Dialog bind:open={dialogOpen}>
    <DialogTrigger class="{buttonVariants({ variant: 'strive' })} {$settingsStore.heisenlamb ? 'cursor-ds' : ''} rounded-none rounded-bl px-2" on:click={() => (dialogOpen = true)}>
        <MdiSettingsOutline />
    </DialogTrigger>
    <DialogContent class="text-foreground w-3/4">
        <DialogHeader>
            <DialogTitle>Settings</DialogTitle>
        </DialogHeader>
        <div class="flex flex-col gap-4 items-center justify-center">
            <span class="w-full flex flex-row items-center justify-start gap-2">
                <Checkbox id="heisenlamb" aria-labelledby="heisenlamb-label" bind:checked={heisenlamb} />
                <Label id="heisenlamb-label" for="heisenlamb">Dragon Scimitar</Label>
            </span>
            <span class="w-full flex flex-row items-center justify-start gap-2">
                <Checkbox id="theme" aria-labelledby="theme-label" bind:checked={isDark} />
                <Label id="theme-label" for="theme">Dark Mode</Label>
            </span>
        </div>
        <DialogFooter>
            <Button type="submit" variant="strive" on:click={updateSettings}>Save changes</Button>
        </DialogFooter>
    </DialogContent>
</Dialog>