<script lang="ts">
    import {Button} from "$lib/components/ui/button";
    import {startTunnel, stopTunnel} from "$lib/tauri";
    import {Badge, badgeVariants} from "$lib/components/ui/badge/index.js";
    import type {VariantProps} from "tailwind-variants";
    import tunnelsStore from "$lib/stores/tunnels.store";
    import type {Tunnel} from "$lib/models/tunnel.interface";
    import {fade} from 'svelte/transition';
    import MdiTerminal from '~icons/mdi/terminal';
    import LineMdHashSmall from '~icons/line-md/hash-small';
    import {writeText} from "@tauri-apps/api/clipboard";
    import {sendNotification} from "@tauri-apps/api/notification";
    import type {ButtonEventHandler} from "bits-ui";

    export let tunnel: Tunnel;
    let buttonWrapper: HTMLElement;

    const getVariant = () => {
        switch (state) {
            case "off":
                return 'destructive'
            case "on":
                return 'success';
        }
    }

    let state: 'off' | 'on' = $tunnelsStore.has(tunnel.name) ? 'on' : 'off';
    let variant: VariantProps<typeof badgeVariants>["variant"] = getVariant();

    const copyToClipboard = async (type: 'command' | 'port') => {
        switch (type) {
            case "port":
                await writeText(tunnel.port);
                sendNotification({ title: "Utility Hub", body: `Copied ${tunnel.name}'s port to clipboard` });
                break;
            case "command":
                await writeText(`cloudflared access tcp --hostname ${tunnel.url} --url localhost:${tunnel.port}`);
                sendNotification({ title: "Utility Hub", body: `Copied ${tunnel.name}'s tunnel command to clipboard` });
                break;
        }
    }

    const toggleConnection = async () => {
        variant = getVariant();

        try {
            if (state === "off") {
                await startTunnel(tunnel.name);
                state = 'on';
                $tunnelsStore.add(tunnel.name);
            } else {
                await stopTunnel(tunnel.name);
                state = 'off';
                $tunnelsStore.delete(tunnel.name);
            }
        } catch(e) {
            sendNotification({title: "Utility Hub", body: `${e}`});
        }

        variant = getVariant();
    }

    const clicked = async (event: ButtonEventHandler<MouseEvent>) => {
        if(buttonWrapper.contains(event.target as Node | null))
            return;

        return toggleConnection();
    }

</script>

<Button variant="ghost" class="w-full p-10 flex items-center justify-between rounded-none" on:click={clicked}>
    <div class="flex flex-col items-start justify-center">
        <span class="text-2xl font-bold">{tunnel.name}</span>
        <small class="text-xs text-gray-400">Port: {tunnel.port}</small>
    </div>
    <div class="flex gap-2 justify-center items-center">
        <div class="flex flex-row items-center" bind:this={buttonWrapper} transition:fade>
            <div class="flex flex-col">
                <Button variant="strive" title="Copy Command" on:click={() => copyToClipboard("command")}>
                    <MdiTerminal />
                </Button>
                <Button variant="strive" title="Copy Port" on:click={() => copyToClipboard("port")}>
                    <LineMdHashSmall />
                </Button>
            </div>
        </div>
        <Badge variant={variant}>{state}</Badge>
    </div>
</Button>