<script lang="ts">
    import {Button} from "$lib/components/ui/button";
    import MdiClose from '~icons/mdi/close';
    import MdiMinimize from '~icons/mdi/minimize';
    import {appWindow} from "@tauri-apps/api/window";
    import Settings from "$lib/components/Settings.svelte";

    const hide = async () => {
        return appWindow.hide();
    }

    const close = async () => {
        return appWindow.close();
    }

</script>

<div data-tauri-drag-region class="flex flex-row items-center justify-end">
    <Settings />
    <Button variant="strive" class="rounded-none px-2" on:click={hide}>
        <MdiMinimize />
    </Button>
    <Button variant="strive" class="rounded-none px-2" on:click={close}>
        <MdiClose />
    </Button>
</div>